.clearfix {
	clear: both;
	float: none;
	display: table;
}
.clearfix:before, .clearfix:after {
	content: '';
	clear: both;
	display: table;
}

.list {
	max-width: 450px;
	margin: 0 auto;
}

.controls {
	display: block;
	margin: 0 auto;
	max-width: 600px;
}
.controls__controler {
	display: inline-block;
	vertical-align: top;
	position: relative;
	float: left;
	width: 48%;
	margin-right: 2%;
	height: 300px;
	border: 1px solid #ccc;
}
.controls__controler:last-child {
	margin-right: 0;
}